
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100vh;
  background: #F9FBFC;
}

.demo{
  color: rgb(233, 0, 0);
  font-size: 14px;
}

.bold{
  font-weight: 600;
}

.blue:hover {
  color: #001833;
}



